# flyctl launch added from .gitignore
**/.env
**/secrets
**/__pycache__
**/*.pyc
**/.venv

# flyctl launch added from .pytest_cache/.gitignore
# Created by pytest automatically.
.pytest_cache/**/*
fly.toml
